/* navbar.css */
.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}


.navbar-menu {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    cursor: pointer;
    color: #49557e;
}


.navbar_right {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navbar_right img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: tomato;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -10px;
}

.navbar_right button {
    background: transparent;
    font-size: 16px;
    border: 2px solid #f0a500;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 50px;
    color: #49557e;
    transition: 0.3s ease;
}

.navbar_right button:hover {
    background-color: tomato;
    border: 2px solid tomato;
    color: white;
}

.navbar .active {
    /* padding: 2px; */
    border-bottom: 2px solid tomato;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar_menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar_right {
        gap: 30px;
    }

    .navbar_right img {
        width: 22px;
    }

    .navbar_right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar_right {
        gap: 20px;
    }

    .navbar_right img {
        width: 20px;
    }

    .navbar_right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {

    .navbar-menu {
        display: none;
    }

}